
@{
    ViewData["Title"] = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<h1>Chart</h1>
	<script>
			window.onload = function () {

				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					title: {
						text: "Trees Planted In Cities Near You"
					},
					axisY: {
						title: "Number Of Trees Planted",
						gridThickness: 0
					},
					data: [{
						type: "bar",
						indexLabel: "{y}",
                        dataPoints: [
                            { label: "Mchenry", y:64},
                            { label: "Fox Lake", y:21},
                            { label: "Volo", y:15},
                            { label: "Crystal Lake", y:76},
                            { label: "Woodstock", y:49}
                        ]
					}]
				});
				chart.render();

			}
	</script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</body>
</html>          